
body{
    background: url("../images/palm-leaf.png");
    background-size:auto;
    padding: 0px;
    margin: 0px;  
}

p, a{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
    line-height: 1.5; 
    font-size: 18px;
    
}

header {
    background-color: #ffffff;
    border-color:#cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 60px;
    width: 100%;
    display: block;
    margin:0 auto;
    position: relative;
    padding: 0px;
    border-bottom: 1px solid;
    margin-bottom: 60px;
   /*hacky crap*/
    margin-top: -16px;
    }

    .headercontent{
    width: 960px;
    display: block;
    margin:0 auto;
}

li{
    float:right;
    display: inline;
    padding: 16px;
} 

footer{
    background-color: #666666;
    height:40px;
    border-top: 10px #4aaaa5 solid;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height:40px;
    color:white;
}

a:hover{
    text-decoration: underline;
}

#body {
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    position: relative;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid;
    margin-bottom: 100px;
    }

.colorsplash {
    background-color:#4aaaa5;
    height:60px;
    width:250px;
}

.colortext{
    color:#4aaaa5;
}
.name {
    float: left;
    position: absolute;
    color:white;
    align-content: center; 
    text-align: center; 
}    

.about{
    padding: 30px;
    border-bottom: 1px solid;
    border-color:#cccccc;
}

.content{
    padding: 16px;
}

.profilepic{
    float:left;
    margin: 15px;
}